SUPABASE_URL=db8fnrubctu
SUPABASE_KEY=mduhu9tr
JWT_SECRET=9ujfih4fj4jg

# GetNet — Pix e Cartão (deixe em branco que o sistema roda em modo simulado)
GETNET_ENV=sandbox
GETNET_CLIENT_ID=
GETNET_CLIENT_SECRET=
GETNET_SELLER_ID=
